body{
    background-color: #295264;
}
#ContainerPrincipal{
    width: 98%;
    height: 850PX;
    margin: 10px;
    background-color: #fad9a6;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
}

#containerProductos{
    float: right;
    margin-top: 50px;
    width: 1500px;
}


#containerProm{
    float: left;
    margin: 0px;
    width: 250px;
    margin-top: 45px;
    margin-left: 40px;
    min-height: 715px;
    background-color: #142433;
    border-radius: 10px;
}

.tarjeta{

    float: left;
    top: 150px;
    width: 400px;
    margin: 10px;
    background-color: #bd2f28;
    padding: 20px;
    border-radius: 35px;

}

.tarjetaPromocion{
    display: inline-block;
    width: 290px;
    min-height: 100px;
    margin: 1px;
    background-color: #bd2f28;
    padding: 20px;
    border-radius: 10px;
    text-align: left;  

}

#promocion {
    display: inline-block;
    width: 100%;
    margin: 2px;
    text-align: center;
}

#ContainerBotones{
    width: 98%;
    margin: auto;
    background-color: #fad9a6;
    padding: 10px;
    border-radius: 10px;
}

#logotipo{
    padding: 10px;
    position: left;
    width: 200px;
    height: 100px;

}
.botones{
    position: relative;
    border: black 1px solid;
    display: inline-block;
    width:  21%;
    min-height: 100px;
    margin: 2px;
    text-align: center;
    background-color: #bd2f28;
    cursor: pointer;
}


#fotos{
    width: 80px;
    min-height: 80px;
    border-radius: 50%;
}

h1{
    color: #000;
    margin: 5px;

}
    
#promocion{
    width: 240px;
    min-height: 660px;
    margin-top: 25px;
    margin-left: 5px;
    border-radius: 10px;
}

#iconos{
    float: left;
    width: 15%;
    margin-top: 20px;
    margin-left: 20px;   
}

h2{
    float: left;
    margin: 0px;
    display: flex;
    color: #fad9a6;
    text-align: center;
    font-size: 20px;
    padding: 0px;
    margin-top: 40px;
    margin-left: 15px;
    font-family: 'merienda';
    font-size: 22px;

}
h3 {

        color: #000;
        margin: 5px;
        text-align: left;
        font-family: merienda;
        font-size: 50px;
}

@font-face{
    font-family: 'Merienda Regular';
    src: url(./fuentes/Merienda-Regular.ttf) format('truetype');
    font-style: normal;
    font-height: normal;
}


form{
    background-color: #fad9a6;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 54%;
    height: 90%;
    gap: 10px;
    right: -24%;
    top: 3%;
    padding: 10px;
}

.contenedorDatos{
    display: flex;
    gap: 215px;
}
.seleccionArriba{
    display: flex;
    gap: 236px;
}
.contenedorDatos2{
    display: flex;
    flex-direction: column;
}

.seleccionAbajo{
    display: flex;
    gap: 221px;
}


.cajaCodigo{
    display: flex;
    gap: 100px;
}

#casillaSeleccionArriba1{
    width: 250%;
    height: 64%;
    background-color: #a1afb5;
    font-family: 'Merienda Regular';
    position: relative;
    border: 2px solid;
    border-radius: 15px;
}

#casillaSeleccionArriba2{
    width: 255%;
    height: 64%;
    background-color: #a1afb5;
    font-family: 'Merienda Regular';
    position: relative;
    border: 2px solid;
    border-radius: 15px;
}


#casillaSeleccionAbajo1{
    width: 226%;
    height: 64%;
    background-color: #a1afb5;
    font-family: 'Merienda Regular';
    position: relative;
    border: 2px solid;
    border-radius: 15px;
}

#casillaSeleccionAbajo2{
    width: 155%;
    height: 64%;
    background-color: #a1afb5;
    font-family: 'Merienda Regular';
    position: relative;
    border: 2px solid;
    border-radius: 15px;
}



#cajaCodigo{
    width: 332%;
    height: 64%;
    background-color: #a1afb5;
    font-family: 'Merienda Regular';
    position: relative;
    border: 2px solid;
    border-radius: 15px;
}

h1{
    text-align: left;
    font-size: 20px;
    font-family: 'Merienda Regular'
}

#casillaDatos{
    width: 208%;
    height: 64%;
    background-color: #a1afb5;
    font-family: 'Merienda Regular';
    position: relative;
    border: 2px solid;
    border-radius: 15px;
}

#casillaDireccion{
    width: 73%;
    height: 49%;
    margin-bottom: 20px;
    background-color: #a1afb5;
    font-family: 'Merienda Regular';
    position: relative;
    border: 2px solid;
    border-radius: 15px;
    text-align: left;
}
.cajaBotones{
    display: flex;
    gap: 10px;
}

#casillaPedido{
    width: 73%;
    height: 64%;
    background-color: #a1afb5;
    font-family: 'Merienda Regular';
    position: relative;
    border: 2px solid;
    border-radius: 15px;
}

.botonCancelar{
    width: 150px;
    height: 40px;
    margin-top: 2%;
    background-color: #bd2f28;
    color: white;
    font-family: 'Merienda Regular';
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.botonConfirmar{
    width: 150px;
    height: 40px;
    margin-top: 2%;
    background-color: #bd2f28;
    color: white;
    font-family: 'Merienda Regular';
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.contenedorProducto{
    position: relative;
    width: 320px; /* Ajusta según tu diseño */
    height: 200px; /* Ajusta según tu diseño */
    background-color: #89373d; /* Color de fondo */
    align-items: center;
    display: flex;
    bottom: 89%;
    left: 20%;
    border-radius: 10px;
    justify-content: center;
}


.imagenProducto{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
