body{
    background-color: #295264;
}
#ContainerPrincipal{
    width: 98%;
    height: 850PX;
    margin: 10px;
    background-color: #fad9a6;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

#containerProductos{
    float: right;
    margin-top: 50px;
    width: 1500px;
}


#containerProm{
    float: left;
    margin: 0px;
    width: 250px;
    margin-top: 45px;
    margin-left: 40px;
    min-height: 715px;
    background-color: #142433;
    border-radius: 10px;
}

.tarjeta{

    float: left;
    top: 150px;
    width: 400px;
    margin: 10px;
    background-color: #bd2f28;
    padding: 20px;
    border-radius: 35px;

}

.tarjetaPromocion{
    display: inline-block;
    width: 290px;
    min-height: 100px;
    margin: 1px;
    background-color: #bd2f28;
    padding: 20px;
    border-radius: 10px;
    text-align: left;  

}

#promocion {
    display: inline-block;
    width: 100%;
    margin: 2px;
    text-align: center;
}

#ContainerBotones{
    width: 98%;
    margin: auto;
    background-color: #fad9a6;
    padding: 10px;
    border-radius: 10px;
}

#logotipo{
    padding: 10px;
    position: left;
    width: 200px;
    height: 100px;

}
.botones{
    position: relative;
    border: black 1px solid;
    display: inline-block;
    width:  21%;
    min-height: 100px;
    margin: 2px;
    text-align: center;
    background-color: #bd2f28;
    cursor: pointer;
}


#fotos{
    width: 80px;
    min-height: 80px;
    border-radius: 50%;
}

h1{
    color: #000;
    margin: 5px;

}
    
#promocion{
    width: 240px;
    min-height: 660px;
    margin-top: 25px;
    margin-left: 5px;
    border-radius: 10px;
}

#iconos{
    float: left;
    width: 15%;
    margin-top: 20px;
    margin-left: 20px;   
}

h2{
    float: left;
    margin: 0px;
    display: flex;
    color: #fad9a6;
    text-align: center;
    font-size: 20px;
    padding: 0px;
    margin-top: 40px;
    margin-left: 15px;
    font-family: 'merienda';
    font-size: 22px;

}
h3 {

        color: #000;
        margin: 5px;
        text-align: left;
        font-family: merienda;
        font-size: 50px;
}


#containerInferior{
    float: right;
    position: absolute;
    background-color:#142433;
    margin-top: 50px;
    width: 98%;
    min-height: 100px;
    border-radius: 20px;
    top: 100%;
}

h4{
    color: #ffffff;
    margin: 5px;
    text-align: center;
    font-family: merienda;
    font-size: 20px;
}

h5{
    display: block;
    float: left;
    color: #ffffff;
    margin: 5px;
    text-align: center;
    font-family: merienda;
    font-size: 15px;
}

.ul{
    display: block;
    float: left;
    color: #ffffff;
    margin: 5px;
    text-align: left;
    font-family: merienda;
    font-size: 15px;
}

h6{
    font-size: 15px;
}

p   {
    position: relative;
    margin-left: 100%;
    color: #ffffff;
    margin: 5px;
    text-align: center;
    font-family: merienda;
    font-size: 15px;
}
#pollo{
    position: absolute;
    right: 1%;
    top: 630px;
    width: 400px;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
}
